* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

* {	margin: 0; padding: 0; position: relative; text-decoration: none; }

.container { 
	width:940px; 
	margin: 0 auto;
}

.container:before, .container:after { content: " "; display: table; }
.container:after { clear: both; }


/*navbar content*/


.navbar{
	background: #5ae0ff;
	border-bottom: 15px solid #4f5051;
/*	border-top: 8px solid #afafaf;
	border-left: 15px solid #797a7a;
	border-right: 15px solid #797a7a;*/
	padding: 30px;
}

/*big badge*/

.big-badge{
	display:block;
	margin: 30px auto;
	width: 600px;
}

.b-top-hex{
	width: 0;
	border-bottom: 66px solid #094e7c;
	border-left: 110px solid transparent;
	border-right: 110px solid transparent;
	margin: 0 auto;
}

.b-mid-hex{
	width: 220px;
	height: 132px;
	background-color: #094e7c;
	text-align: center;
	margin: 0 auto;
}

.b-bottom-hex{
	width: 0;
	border-top: 66px solid #094e7c;
	border-left: 110px solid transparent;
	border-right: 110px solid transparent;
	margin: 0 auto;
}

/*little badge*/

.little-badge{
	margin: 40px auto 0;
	width: 600px;
	z-index: 100;
}

.l-top-hex{
	width: 0;
	border-bottom: 60px solid #ffdf00;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	margin: 0 auto;
}

.l-mid-hex{
	width: 200px;
	height: 120px;
	background-color: #ffdf00;
	text-align: center;
	margin: 0 auto;
}

.l-bottom-hex{
	width: 0;
	border-top: 60px solid #ffdf00;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	margin: 0 auto;
}

/*bars*/

.bars{
	margin:40px auto;
	width: 300px;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: #094e7c;
    width: 200px;
    height:4px;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #ffdf00;
    opacity: 0.5;
    width: 20px;
    height: 26px;
}

body{
	font-family: Helvetica;
	letter-spacing: 0.06em;
	background: #f1f0ec;
	text-shadow:2px 2px 7px #4f5051, -2px -2px 3px #C0DBF2;
}

h1 {
	font-size:50px;
	color:white;
	text-align: center;
}